/*DOCUMENT*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(43, 43, 43);
    text-align: center;
}
/*DOCUMENT*/

/*TAGS*/
header {
position: sticky;
z-index: 12;
top: 0;
width: 100%;
height: 100px;
padding: 20px;
background-color: rgb(52, 89, 134);
display: flex;
justify-content: space-between;
align-items: center;
}
h1 {
    margin: 0 0 5px 0;
}
main {
    padding: 37px 0 0 0 ;
}
/*TAGS*/


/*CLASSES*/
.nav-btns {
    background-color: rgb(22, 22, 22);
    color: rgb(240, 237, 233);
    border-radius: 30px;
    width: 100px;
    height: 25px;
    border: none;
}
.card {
    width: 250px;
    height: fit-content;
    margin: 20px;
    background-color: rgb(183, 176, 176);
    flex-wrap: wrap;
}
.top-img {
    width: 50px;
    height: 50px;
}
/*CLASSES*/
